<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="pt-br"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="pt-br"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="pt-br"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="pt-br"> <!--<![endif]-->
<head>
  <meta charset"UTF-8">	
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-with, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="Diego Dias">
  <title>trello burndown</title>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/main.css"> 
  <link rel="stylesheet" href="/stylesheets/select2.css">
  <link rel="stylesheet" href="/stylesheets/jquery-ui-1.10.3.custom.css">
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link href='http://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo' rel='stylesheet' type='text/css'>
  <script src="/javascripts/libs/modernizr.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">Você esta usando um browser <strong>desatualizado</strong>. Por favor, <a href="http://browsehappy.com/">atualize seu browser</a> para melhorar sua experiência.</p>
    <![endif]-->
		
	<div id="main">
		<div id="header">
			<div class="container clearfix navbar">
				<div class="logo"><a href="/dashboard">trello burndown</a></div>
				<ul class="user-links">
					<li>
						<a class="account" href="#"><img src="{{{user.avatar}}}" title="{{{user.name}}}" width="25" height="25"><small>{{user.name}}</small></a>
					</li>
				</ul>
			</div>			
		</div>
		<div id="flash-message success">{{flash 'success'}}</div>
		<div id="flash-message error">{{flash 'error'}}</div>

		<div id="content">
			{{{body}}}
		<div>

	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" charset="utf-8"></script>
	<script>window.jQuery || document.write('<script src="javascripts/libs/jquery-1.10.2.min.js" charset="utf-8"><\/script>')</script>
	<script src="/javascripts/libs/jquery-ui-1.10.3.custom.min.js" type="text/javascript" charset="utf-8"></script>	
	<script src="/javascripts/libs/plugins.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/libs/select2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/libs/date.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8" src="/javascripts/application.js"></script>
	<script type="text/javascript" charset="utf-8" src="/javascripts/startup.js"></script>
	<script type="text/javascript" charset="utf-8" src="/javascripts/components/autocomplete.js"></script>
	<script type="text/javascript" charset="utf-8" src="/javascripts/components/workdays.js"></script>
	<script type="text/javascript" charset="utf-8" src="/javascripts/controllers/sprints.js"></script>
	<script type="text/javascript" charset="utf-8" src="/javascripts/dispatcher.js"></script>
</body>
</html>